<!DOCTYPE html>
<html lang="en">
<div th:replace="~{common :: headFragment}"></div>
<body>
    <!-- Cursor effect -->
  <div class="cursor"></div>

  <!-- nav bar -->
  <div class="container-fluid p-0 m-0">
      <nav class="navbar row py-0 mx-0">
          <div class="col-xl d-flex p-0 gap-1" >
              <a href="/home"><img src="/images/logo/logomark-md.svg" alt=""></a>
              <h4 class="my-auto" id="wordmark"><span style=" color: #059025;">Erea</span><Span style=" color: #97CC16;">Mart</Span></h4>
          </div>
          <div class="col-xl-6 d-flex p-0">
            <input class="form-control rounded-pill " type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="col-xl d-flex gap-1 justify-content-end my-auto p-0">
                          
              <button onclick="location.href='/cart';" class="btn btn-icon btn-outline-primary rounded-circle active" type="button"><i class="fa-solid fa-cart-shopping"></i></button>
              
              <button type="button" class="btn btn-icon rounded-pill bg-light" data-bs-toggle="dropdown" -expanded="false">  <img id="imgLogUserPhoto" src="/images/default.png" alt="" class="rounded-pill" width="38px "></button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" href="/dashboard"><i class="fa-solid fa-gauge me-3"></i>Dashboard</a></li>
                  <li><a class="dropdown-item" href="/dashboard"><i class="fa-solid fa-file me-3"></i>Quotation</a></li>
                  <li><a class="dropdown-item" href="/dashboard"><i class="fa-solid fa-file-invoice me-3"></i>Respond</a></li>
                  <li><a class="dropdown-item" href="/dashboard"><i class="fa-solid fa-money-bill me-3"></i>Orders</a></li>
                  <li><a class="dropdown-item" href="/profile"><i class="fa-solid fa-user me-3"></i>Profile</a></li>
                  <li><a class="dropdown-item" href="/login"><i class="fa-solid fa-arrow-right-from-bracket me-3"></i>Log out</a></li>
                </ul>
              
            </div>
      </nav>

      
      <div class="row app p-0 m-0">

         <!-- Sidebbar -->
        <!-- <div class="col-1 p-0 m-0 w-auto h-100 d-flex">
            <ul class="nav nav-pills verticle_navbar my-auto list-group sidebarbody p-1 " style="width: fit-content;">
                <li class="nav-item"><a class="nav-link btn-icon active" href="/home.html"><img  src="/icons/home.svg" alt=""></a></li>
                <li class="nav-item"><a class="nav-link btn-icon" href="/dashboard.html"><img  src="/icons/administration.svg" alt=""></a></li>
                <li class="nav-item"><a class="nav-link btn-icon" href="/quotation.html"><img  src="/icons/operations.svg" alt=""></a></li>
                <li class="nav-item"><a class="nav-link btn-icon" href="/expense.html"><img  src="/icons/transection.svg" alt=""></a></li>
                <li class="nav-item"><a class="nav-link btn-icon" href="/supplier.html"><img  src="/icons/resources.svg" alt=""></a></li>
                 
            </ul>
          </div> -->
      
          <div class="col p-1">
            <div class="row g-1">
                <div class="col-xl-12 d-flex p-0 mx-auto">
                  <ul class="nav nav-pills bg-transparent justify-content-center rounded-pill p-1 mx-auto" style="width: fit-content;">
                      <li class="nav-item"><a class="nav-link rounded-pill active" aria-current="page" href="#">Kells</a></li>
                      <li class="nav-item"><a class="nav-link rounded-pill" href="#">Food City</a></li>
                      <li class="nav-item"><a class="nav-link rounded-pill" href="#">Sathosa</a></li>
                      <li class="nav-item"><a class="nav-link rounded-pill" href="#">Glowmark</a></li>
                      <li class="nav-item"><a class="nav-link rounded-pill" href="#">Laughf</a></li>
                  </ul>
                  </div>
              </div>
            <div class="row g-1">
                <div class="col-lg-4">
                    <div class="card ">
                        <div class="card-header bg-transparen border-0">Items</div>
                        <div class="card-body ">
                        </div>
                      </div>
                </div>
                <div class="col-lg-4">
                    <div class="card ">
                        <div class="card-header bg-transparen border-0">store</div>
                        <div class="card-body">
                            map & seller details
                        </div>
                      </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header bg-transparen border-0">Checkout</div>
                        <div class="card-body">
                            My details & total
                        </div>
                        <div class="card-footer bg-transparent text-end border-0">
                            <button onclick="location.href='/quotation.html';" type="button" class="btn btn-outline-secondary">Request Quotation</button>
                            <button onclick="location.href='/order.html';" type="button" class="btn btn-primary">Create order</button>
                        </div>
                      </div>
                </div>
            </div>
            
          </div>
      </div>

      <!-- Bottombar -->
      <!-- <ul class="list-group nav nav-pills list-group-horizontal justify-content-center sidebarbody p-1 mx-auto horizontal_navbar" style="width: fit-content;">
        <li class="nav-item"><a class="nav-link btn-icon active" href="/home.html"><img  src="/icons/home.svg" alt=""></a></li>
        <li class="nav-item"><a class="nav-link btn-icon" href="/dashboard.html"><img  src="/icons/administration.svg" alt=""></a></li>
        <li class="nav-item"><a class="nav-link btn-icon" href="/quotation.html"><img  src="/icons/operations.svg" alt=""></a></li>
        <li class="nav-item"><a class="nav-link btn-icon" href="/expense.html"><img  src="/icons/transection.svg" alt=""></a></li>
        <li class="nav-item"><a class="nav-link btn-icon" href="/supplier.html"><img  src="/icons/resources.svg" alt=""></a></li>
         
      </ul> -->
  </div>


    <div th:replace="~{common :: scripts}"></div>
</body>
</html>