<!-- app head -->

<head th:fragment="headFragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle} + ' - Ereamart'">Ereamart</title>

    <!-- Favicon -->
    <link rel="icon" href="/images/favicon/favicon.svg">
    
    <!--  css -->
    <link href="/bootstrap-5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link href="/datatables/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/fontawesome-free-6.6.0/css/all.min.css">

    <!--  js -->
    <script src="/bootstrap-5.2.3/js/bootstrap.bundle.min.js"></script>
    <script src="/jquery/jQuery-3.7.1.min.js"></script>
    <script src="/datatables/datatables.js"></script>

    <!-- logged userimage -->
    <script th:inline="javascript">
      window.addEventListener("load", ()=>{
        
        let logedUserPhoto = /*[[${loggeduserphoto}]]*/ 'loggeduserphoto';
        if (logedUserPhoto != null) {
          imgLogUserPhoto.src = atob(logedUserPhoto);
        }
        
        let pageTitle = /*[[${pageTitle}]]*/ 'Ereamart';
        console.log("Page Title:", pageTitle);
      });
    </script>
</head>




<!-- login / register head -->

<head th:fragment="loginheadFragment">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ereamart</title>

  <!-- Favicon -->
  <link rel="icon" href="/images/favicon/favicon.svg">

  <!-- css -->
  <link href="/bootstrap-5.2.3/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">

  <style th:fragment="bgimage">
    body {
      background-image: url(/images/bodybg.png);
      background-repeat: no-repeat;
      background-size: cover;
      /* background-position: right bottom; */
    }
  </style>

  <!-- boostrap js -->
  <script src="/bootstrap-5.2.3/js/bootstrap.bundle.min.js"></script>

</head>

<!-- footer js -->

<div th:fragment="scripts">
        <script src="/script/common.js" defer></script>
        <script src="/script/tablefunction.js" defer></script>
        <script src="/script/validationFunctions.js" defer></script>
</div>




<div class="col-xl d-flex gap-1 justify-content-end my-auto p-0" th:fragment="sellerprofiledropdown">
    <button type="button" class="btn btn-icon rounded-pill bg-light" data-bs-toggle="dropdown" -expanded="false">
        <img id="imgLogUserPhoto" src="/images/default.png" alt="" class="rounded-pill" width="38px "></button>
    <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <div class="d-flex flex-column">
                    <p class="m-0 mx-auto"><strong>Name</strong></p>
                    <p class="m-0 mx-auto text-muted"><small th:text="' '+ ${loggedusername} + ' '">Role</small></p>
                </div>
        </li>

        <div role="separator" class="dropdown-divider"></div>
        <!-- <li><a class="dropdown-item" href="/home">Home</a></li> -->
        <li><a class="dropdown-item" href="/profile">Profile</a></li>
        <li><a class="dropdown-item text-danger" href="/logout">Log out</a></li>
    </ul>
</div>