<!DOCTYPE html>
<html lang="en">
<div th:replace="~{common :: headFragment}"></div>
<body>

  
  <!-- Cursor effect -->
  <div class="cursor"></div>

  <div class="container-fluid p-0 m-0">
      <!-- nav bar -->
      <nav class="navbar row py-0 mx-0">
          <div class="col-xl d-flex p-0 gap-1">
              <a href="/dashboard"><img src="/images/logo/logomark-md.svg" alt=""></a>
              <h4 class="my-auto" id="wordmark"><span style=" color: #059025;">Erea</span><Span style=" color: #97CC16;">Mart</Span></h4>
          </div>
          <div class="col-xl-6 d-flex p-0">
            <ul class="list-group nav nav-pills list-group-horizontal rounded-pill justify-content-center sidebarbody p-1 mx-auto horizontal_navbar" style="width: fit-content;">
                    <li class="nav-item"><a class="nav-link rounded-pill" href="/dashboard">Home</a></li>
                    <li class="nav-item"><a class="nav-link rounded-pill active" href="/product">Store</a></li>
                    <li class="nav-item"><a class="nav-link rounded-pill" href="/expense">Wallet</i></a></li>
                </ul>
          </div>
            <div th:replace="~{common :: sellerprofiledropdown}"></div>
          
      </nav>

      <div class=" container-fluid row p-0 m-0">
        <div class="col"></div>
        <div class="col-xl-6 mt-1">
          <ul class="nav nav-pills rounded-pill justify-content-center p-1 mx-auto" style="width: fit-content;">
                <li class="nav-item"><a class="nav-link rounded-pill" href="/product">Product</a></li>
                <li class="nav-item"><a class="nav-link rounded-pill" href="/supplier">Supplier</a></li>
                <li class="nav-item"><a class="nav-link rounded-pill" href="/quotation">Quotation</a></li>
                <li class="nav-item"><a class="nav-link rounded-pill" href="/respond">Respond</a></li>
                <li class="nav-item"><a class="nav-link rounded-pill" href="/orders">Order</a></li>
                <li class="nav-item"><a class="nav-link rounded-pill" href="/grn">GRN</a></li>
                <li class="nav-item"><a class="nav-link rounded-pill" href="/inventory">Inventory</a></li>
                <li class="nav-item"><a class="nav-link rounded-pill active" href="/customer">Customer</a></li>
                <li class="nav-item"><a class="nav-link rounded-pill " href="/invoice">Invoice</a></li>
            </ul>
        </div>
        <div class="col-xl d-flex gap-1 text-end my-auto p-0">
              <input class="form-control rounded-pill" type="search" placeholder="Search" aria-label="Search">
              <button type="button" class="btn btn-icon btn-primary rounded-circle" onclick="buttonAddNew()" data-bs-toggle="modal" data-bs-target="#modalCustomerForm"><i class="fa-solid fa-plus"></i></button>
            </div>
    </div>

      <div class="row app p-0 m-0">
          <div class="col">
          <!-- Table -->
          <div class="table-responsive">
            <table class="table table-hover align-middle" id="tableCustomer">
              <thead>
                <tr>
                    <th>Reg No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Address</th>
                    <th>Note</th>
                    <th>Status</th>
                </tr>
              </thead>
              <tbody id="tableCustomerBody"></tbody>
            </table>
          </div>
          </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="modalCustomerForm" tabindex="-1" aria-labelledby="modalCustomerFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
          <div class="modal-content">
        
            <div class="modal-header">
              <h6 class="modal-title" id="modalCustomerFormLabel">Add New</h6>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        
            <div class="modal-body">
              <form id="formCustomer" class="row g-3 col-xl-12 col-xl-6 col-md-12 mx-auto" onsubmit="return false">
                <div class="col-xl-6">
                  <label class="form-label">Name<span class="text-danger">*</span></label>
                  <input id="textName" type="text" Required  class="form-control" onkeyup="textValidator(this,'^([A-Za-z0-9\\s\\,]{1,20}.?)+$','customer','fullname')">
                </div>    
                <div class="col-xl-6">
                  <label for="selectStatus" class="form-label">Status<span class="text-danger">*</span></label>
                  <select id="selectStatus" class="form-select" Required  onchange="selectDynamicElementValidator(this,'customer','customer_status_id')"></select>
                </div>
                <div class="col-xl-6">
                  <label for="textEmail" class="form-label">Email</label>
                  <input id="textEmail" type="email"  class="form-control" onkeyup="textValidator(this,'^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,6}$', 'customer','email')">
                </div>
                <div class="col-xl-6">
                  <label class="form-label">Mobile<span class="text-danger">*</span></label>
                  <input id="textMobileNo" type="text" Required  class="form-control"  onkeyup="textValidator(this,'^[0][7][01245678][0-9]{7}$','customer','mobileno')">
                </div>
                <div class="col-xl-12">
                  <label class="form-label">Address</label>
                  <textarea id="textAddress" class="form-control" onkeyup="textValidator(this,'^.*$','customer','address')"></textarea>
                </div>
                <div class="col-xl-12">
                  <label for="inputAddress" class="form-label">Note</label>
                  <input id="textNote" type="text" class="form-control" onkeyup="textValidator(this,'^([A-Za-z0-9\\s\\,]{1,20}.?)+$','customer','note')">
                </div>
              </form>
            </div>
        
            <div class="modal-footer">
              <div class="col">
                <button type="button" onclick="buttonCustomerDelete(window['editOb'], window['editRowIndex'])" class="btn btn-outline-danger" id="buttonDelete">Delete</button>
                <button type="button" onclick="refreshCustomerForm()" class="btn btn-outline-danger" id="buttonClear">Clear</button>
              </div> 
              <div class="col text-end">
                <button type="button" onclick="buttonCustomerPrint(window['editOb'], window['editRowIndex'])" class="btn btn-tertiry" id="buttonPrint">Print</button>    
                <button type="button" onclick="buttonCustomerUpdate()" class="btn btn-primary" id="buttonUpdate">Update</button>    
                <button type="button" onclick="buttonCustomerSubmit()" class="btn btn-primary" id="buttonSubmit">Submit</button>  
            </div>
            </div>
        
          </div>
        </div>
        </div>
  </div>
</div>
      <div th:replace="~{common :: scripts}"></div>
      <script src="/uicontroller/customer.js"></script>
</body>
</html>