<!DOCTYPE html>
<html lang="en">
<head th:replace="head :: headFragment"></head>
 <style>
    body {
      background-image: url(/images/bodybg.png);
      background-repeat: no-repeat;
      background-position: right;
    }
  </style>
  
<body>

    
  <!-- Cursor effect -->
  <div class="cursor"></div>

  <div class="container-fluid p-0 m-0">
      <!-- nav bar -->
      <nav class="navbar row py-0 mx-0 gap-1">
          <div class="col-xl d-flex p-0 gap-1">
              <a href="/dashboard.html"><img src="/images/logo/logomark-md.svg" alt=""></a>
              <h5 class="my-auto" th:text="'Hi '+ ${loggedusername} + '👋'">Administration</h5>
          </div>
          <div class="col-xl-6 d-flex p-0">
            <ul class="nav nav-pills justify-content-center rounded-pill p-1 mx-auto" style="width: fit-content;">
                <li class="nav-item"><a class="nav-link rounded-pill active" aria-current="page" href="/dashboard.html">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link rounded-pill" href="/privilege.html">Privilege</a></li>
                <li class="nav-item"><a class="nav-link rounded-pill" href="/employee.html">Employee</a></li>
                <li class="nav-item"><a class="nav-link rounded-pill" href="/user.html">User</a></li>
            </ul>
            </div>
          <div class="col-xl d-flex gap-1 justify-content-end my-auto p-0">
            
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="height: 40px;">Daily </button>
                <ul class="dropdown-menu dropdown-menu-end border-0">
                    <li><a class="dropdown-item active" href="#">Daily</a></li>
                    <li><a class="dropdown-item" href="#">Monthly</a></li>
                    <li><a class="dropdown-item" href="#">Weekly</a></li>
                    <li><a class="dropdown-item" href="#">Yearly</a></li>
                    <li><a class="dropdown-item" href="#">All the time</a></li>
                  </ul>
          </div>

            <div class="dropdown">
                <button class="btn btn-icon btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-bell"></i></button>
                <ul class="dropdown-menu dropdown-menu-end border-0 p-1">
                    <li>
                        <div class="card mb-1">
                        <div class="card-body">
                            <p class="card-title">Title</p>
                            <p>Notificationnnnnnn nnnnnnnnnnnnnnnnnnnnn nnnnnnnnnnnnnnnnnn</p>
                            <button class="btn btn-success">Mark as read</button>
                        </div>
                      </div>
                    </li>
                    <li>
                        <div class="card mb-1">
                        <div class="card-body">
                            <p class="card-title">Title</p>
                            <p>Notificationnnnnnn nnnnnnnnnnnnnnnnnnnnn nnnnnnnnnnnnnnnnnn</p>
                            <button class="btn btn-success">Mark as read</button>
                        </div>
                      </div>
                    </li>
                    <li>
                        <div class="card mb-1">
                        <div class="card-body">
                            <p class="card-title">Title</p>
                            <p>Notificationnnnnnn nnnnnnnnnnnnnnnnnnnnn nnnnnnnnnnnnnnnnnn</p>
                            <button class="btn btn-success">Mark as read</button>
                        </div>
                      </div>
                    </li>
                    <li>
                        <div class="card mb-1">
                        <div class="card-body">
                            <p class="card-title">Title</p>
                            <p>Notificationnnnnnn nnnnnnnnnnnnnnnnnnnnn nnnnnnnnnnnnnnnnnn</p>
                            <button class="btn btn-success">Mark as read</button>
                        </div>
                      </div>
                    </li>
                  </ul>
          </div>

          <button type="button" class="btn btn-icon btn-primary" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-user"></i></button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/home.html">Buyer mode</a></li>
                <li><a class="dropdown-item" href="/profile.html">Profile</a></li>
                <li><a class="dropdown-item" href="/logout">Log out</a></li>
              </ul>


          </div>

          
      </nav>
      <div class="row app p-0 m-0">
        
         <!-- Sidebbar -->
        <div class="col-1 p-0 m-0 w-auto h-100 d-flex">
            <ul class="nav nav-pills verticle_navbar my-auto list-group sidebarbody p-1 " style="width: fit-content;">
                <!--   -->
                <li class="nav-item"><a class="nav-link btn-icon active" href="/dashboard.html"><i class="fa-solid fa-house"></i></a></li>
                <li class="nav-item"><a class="nav-link btn-icon" href="/quotation.html"><i class="fa-solid fa-store"></i></a></li>
                <li class="nav-item"><a class="nav-link btn-icon" href="/expense.html"><i class="fa-solid fa-wallet"></i></a></li>
                <li class="nav-item"><a class="nav-link btn-icon" href="/supplier.html"><i class="fa-solid fa-users"></i></a></li>
                <!--   -->
            </ul>
          </div>

          <div class="col p-1 ">
            <div class="row g-1 mb-1">
                <div class="col-xl-2 col-lg-6 col-md-6 ">
                    <div class="card h-100">
                        <div class="card-body ">
                            <p class="card-title">Profit</p>
                            <h4>$1000000.00</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-6">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="card-title">Loss</p>
                            <h4>$52.00</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-1 mb-1">
                <div class="col-xl-2 col-lg-6 col-md-6">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="card-title">Inventory</p>
                            <h4>$12.00</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-6">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="card-title">Sales</p>
                            <h4>$17.00</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-1 mb-1">
                <div class="col-xl-2 col-lg-6 col-md-6">
                    <div class="card h-100">
                        <div class="card-body ">
                            <p class="card-title">Profit</p>
                            <h4>$17.00</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-6">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="card-title">Loss</p>
                            <h4>$14.00</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-1 mb-1">
                <div class="col-xl-2 col-lg-6 col-md-6">
                    <div class="card h-100">
                        <div class="card-body ">
                            <p class="card-title">Profit</p>
                            <h4>$17.00</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-6">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="card-title">Loss</p>
                            <h4>$14.00</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-1 ">
                <div class="col-xl-4 col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title">Top selling Products</p>
                            <div class="table-responsive" >
                                <table class="table  table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                    </tr>
                                    </thead>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td colspan="2">Larry the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td colspan="2">Larry the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td colspan="2">Larry the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td colspan="2">Larry the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>

      <!-- Bottombar -->
      <ul class="list-group nav nav-pills list-group-horizontal justify-content-center sidebarbody p-1 mx-auto horizontal_navbar" style="width: fit-content;">
         
        <li class="nav-item"><a class="nav-link btn-icon active" href="/dashboard.html"><i class="fa-solid fa-house"></i></a></li>
        <li class="nav-item"><a class="nav-link btn-icon" href="/quotation.html"><i class="fa-solid fa-store"></i></a></li>
        <li class="nav-item"><a class="nav-link btn-icon" href="/expense.html"><i class="fa-solid fa-wallet"></i></a></li>
        <li class="nav-item"><a class="nav-link btn-icon" href="/supplier.html"><i class="fa-solid fa-users"></i></a></li>
         
      </ul>
  </div>

    <script src="/script/common.js"></script>
</body>
</html>