<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ereamart</title>

    <!-- Favicon -->
    <link rel="icon" href="/images/favicon/favicon.svg">
    
    <!--  css -->
    <link href="/bootstrap-5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link href="/datatables/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/fontawesome-free-6.6.0/css/all.min.css">

    <!--  js -->
    <script src="/bootstrap-5.2.3/js/bootstrap.bundle.min.js"></script>
    <script src="/jquery/jQuery-3.7.1.min.js"></script>
    <script src="/datatables/datatables.js"></script>
</head>
<body>
    <p>error</p> <a href="/dashboard">Dashboard</a>
</body>
</html>