<!DOCTYPE html>
<html lang="en">
<div th:replace="~{common :: headFragment}"></div>
<body>

  
  <!-- Cursor effect -->
  <div class="cursor"></div>

  <div class="container-fluid p-0 m-0">
      <!-- nav bar -->
      <nav class="navbar row py-0 mx-0">
          <div class="col-xl d-flex p-0 gap-1">
              <a href="/dashboard.html"><img src="/images/logo/logomark-md.svg" alt=""></a>
              <h5 class="my-auto" th:text="'Hi '+ ${loggedusername} + '👋'"></h5>
          </div>
          <div class="col-xl-6 d-flex p-0">
          <ul class="nav nav-pills justify-content-center rounded-pill p-1 mx-auto" style="width: fit-content;">
            <li class="nav-item"><a class="nav-link rounded-pill" href="/product.html">Product</a></li>
            <li class="nav-item"><a class="nav-link rounded-pill" href="/quotation.html">Quotation</a></li>
            <li class="nav-item"><a class="nav-link rounded-pill" href="/orders.html">Order</a></li>
            <li class="nav-item"><a class="nav-link rounded-pill" href="/grn.html">GRN</a></li>
            <li class="nav-item"><a class="nav-link rounded-pill" href="/inventory.html">Inventory</a></li>
            <li class="nav-item"><a class="nav-link rounded-pill active" href="/invoice.html">Invoice</a></li>
          </ul>
          </div>
          <div class="col-xl d-flex gap-1 text-end my-auto p-0">
              <input class="form-control rounded-pill" type="search" placeholder="Search" aria-label="Search">
              <button type="button" class="btn btn-icon btn-primary rounded-circle" onclick="buttonAddNew()" data-bs-toggle="modal" data-bs-target="#modalInvoiceForm"><i class="fa-solid fa-plus"></i></button>
            </div>
      </nav>
      <div class="row app p-0 m-0">
          <!-- Sidebbar -->
        <div class="col-1 p-0 m-0 w-auto h-100 d-flex">
          <ul class="nav nav-pills verticle_navbar my-auto list-group sidebarbody p-1" style="width: fit-content;">
               
              <li class="nav-item"><a class="nav-link btn-icon" href="/dashboard.html"><i class="fa-solid fa-house"></i></a></li>
              <li class="nav-item"><a class="nav-link btn-icon active" href="/product.html"><i class="fa-solid fa-store"></i></a></li>
              <li class="nav-item"><a class="nav-link btn-icon" href="/expense.html"><i class="fa-solid fa-wallet"></i></a></li>
              <li class="nav-item"><a class="nav-link btn-icon" href="/supplier.html"><i class="fa-solid fa-users"></i></a></li>
               
          </ul>
        </div>
          <div class="col">
          <!-- Table -->
          <div class="table-responsive">
            <table class="table   table-hover" id="tableInvoice">
              <thead>
                <tr>
                  <th>Invoice no</th>
                  <th>Customer</th>
                  <th>Total</th>
                  <th>Discount Amount</th>
                  <th>Net Amount</th>
              </tr>
              </thead>
              <tbody id="tableInvoiceBody"></tbody>
            </table>
          </div>
          </div>
      </div>
        <!-- Modal -->
      <div class="modal fade" id="modalInvoiceForm" tabindex="-1" aria-labelledby="modalInvoiceFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
          <div class="modal-content">
        
            <div class="modal-header">
              <h6 class="modal-title" id="modalInvoiceFormLabel">Add New</h6>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        
            <div class="modal-body">
              <form id="formInvoice" class="row g-3 col-xl-12 col-lg-12 col-md-12 mx-auto" onsubmit="return false">
                <div class="col-xl-6">
                  <label class="form-label">Invoice no<span class="text-danger">*</span></label>
                  <input id="textInvoiceNo" type="text" Required  class="form-control" onkeyup="textValidator(this,'^.*$', 'invoice','invoiceno')">
                </div>
                <div class="col-xl-6">
                  <label class="form-label">Customer<span class="text-danger">*</span></label>
                  <div class="input-group">
                    <select id="selectCustomer" Required  class="form-select" onchange="selectDynamicElementValidator(this,'invoice','customer_id')"></select>
                    <button class="btn btn-outline-secondary" type="button"><i class="fa-solid fa-plus"></i></button>
                  </div>
                </div>
                <div class="col-xl-4">
                  <label class="form-label">Total Amount<span class="text-danger">*</span></label>
                  <input id="textTotalAmount" type="text" Required  class="form-control" onkeyup="textValidator(this,'^.*$', 'invoice','totalamount')">
                </div>
                <div class="col-xl-4">
                  <label class="form-label">Discount Amount<span class="text-danger">*</span></label>
                  <input id="textDisountAmount" type="text" Required class="form-control" onkeyup="textValidator(this,'^.*$', 'invoice','discountamount')">
                </div>
                <div class="col-xl-4">
                  <label class="form-label">Net Amount<span class="text-danger">*</span></label>
                  <input id="textNetAmount" type="text" Required class="form-control" onkeyup="textValidator(this,'^.*$', 'invoice','netamount')">
                </div>

                
              <div class="col-lg-12 pt-3"><strong>Product List</strong></div>
              
              <div class="col-lg-12">
                <div class="table-responsive">
                  <table class="table table-borderles table-hover align-middle">
                    <thead>
                      <tr>
                        <th>Product ID</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>P001</td>
                        <td><img src="/images/product/product.png" alt="" height="64px"></td>
                        <td>Product Name 1</td>
                        <td>Brand A</td>
                        <td><button type="button" class="btn btn-outline-danger w-100">Remove</button></td>
                      </tr>
                      <tr>
                        <td><input type="text" class="form-control"></td>
                        <td><input type="text" class="form-control"></td>
                        <td><input type="text" class="form-control"></td>
                        <td><input type="text" class="form-control"></td>
                        <td><button type="button" class="btn btn-outline-primary w-100">Add</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              
              </form>
            </div>
        
            <div class="modal-footer">
              <div class="col">
                <button type="button" onclick="buttonInvoiceDelete(window['editOb'], window['editRowIndex'])" class="btn btn-outline-danger" id="buttonDelete">Delete</button>
                <button type="button" onclick="refreshInvoiceForm()" class="btn btn-outline-danger" id="buttonClear">Clear</button>
              </div> 
              <div class="col text-end">
                <button type="button" onclick="buttonInvoicePrint(window['editOb'], window['editRowIndex'])" class="btn btn-tertiry" id="buttonPrint">Print</button>    
                <button type="button" onclick="buttonInvoiceUpdate()" class="btn btn-primary" id="buttonUpdate">Update</button>    
                <button type="button" onclick="buttonInvoiceSubmit()" class="btn btn-primary" id="buttonSubmit">Submit</button>  
            </div>
            </div>
        
          </div>
        </div>
        </div>

      <!-- Bottombar -->
      <ul class="list-group nav nav-pills list-group-horizontal justify-content-center sidebarbody p-1 mx-auto horizontal_navbar" style="width: fit-content;">
         
        <li class="nav-item"><a class="nav-link btn-icon" href="/dashboard.html"><i class="fa-solid fa-house"></i></a></li>
        <li class="nav-item"><a class="nav-link btn-icon active" href="/product.html"><i class="fa-solid fa-store"></i></a></li>
        <li class="nav-item"><a class="nav-link btn-icon" href="/expense.html"><i class="fa-solid fa-wallet"></i></a></li>
        <li class="nav-item"><a class="nav-link btn-icon" href="/supplier.html"><i class="fa-solid fa-users"></i></a></li>
         
      </ul>
  </div>
</div>
    <div th:replace="~{common :: scripts}"></div>
    <script src="/uicontroller/invoice.js"></script>
</body>
</html>