<!DOCTYPE html>
<html lang="en">
<div th:replace="~{common :: headFragment}"></div>
<body>

  
  <!-- Cursor effect -->
  <div class="cursor"></div>

  <div class="container-fluid p-0 m-0">
      <!-- nav bar -->
      <nav class="navbar row py-0 mx-0">
          <div class="col-xl d-flex p-0 gap-1">
              <a href="/dashboard.html"><img src="/images/logo/logomark-md.svg" alt=""></a>
              <h4 class="my-auto" id="wordmark"><span style=" color: #059025;">Erea</span><Span style=" color: #97CC16;">Mart</Span></h4>
          </div>
          <div class="col-xl-6 d-flex p-0">
            <ul class="list-group nav nav-pills list-group-horizontal justify-content-center sidebarbody p-1 mx-auto horizontal_navbar" style="width: fit-content;">
                    <li class="nav-item"><a class="nav-link" href="/dashboard.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/product.html">Store</a></li>
                    <li class="nav-item"><a class="nav-link" href="/expense.html">Wallet</i></a></li>
                </ul>
          </div>
            <div class="col-xl d-flex gap-1 justify-content-end my-auto p-0">
                <button type="button" class="btn btn-icon rounded-pill bg-light" data-bs-toggle="dropdown" -expanded="false">  <img id="imgLogUserPhoto" src="/images/default.png" alt="" class="rounded-pill" width="38px "></button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="/home.html">Buyer mode</a></li>
                    <li><a class="dropdown-item" href="/profile.html">My Profile</a></li>
                    <li><a class="dropdown-item" href="/logout">Log out</a></li>
                </ul>
            </div>
          
      </nav>

      <div class=" container-fluid row p-0 m-0">
        <div class="col"></div>
        <div class="col-xl-6 mt-1">
          <ul class="nav nav-pills bg-transparent justify-content-center p-1 mx-auto" style="width: fit-content;">
            <li class="nav-item"><a class="nav-link" href="/product.html">Product</a></li>
            <li class="nav-item"><a class="nav-link" href="/supplier.html">Supplier</a></li>
            <li class="nav-item"><a class="nav-link" href="/quotation.html">Quotation</a></li>
            <li class="nav-item"><a class="nav-link" href="/respond.html">Respond</a></li>
            <li class="nav-item"><a class="nav-link" href="/orders.html">Order</a></li>
            <li class="nav-item"><a class="nav-link" href="/grn.html">GRN</a></li>
            <li class="nav-item"><a class="nav-link" href="/inventory.html">Inventory</a></li>
            <li class="nav-item"><a class="nav-link" href="/customer.html">Customer</a></li>
            <li class="nav-item"><a class="nav-link active" href="/invoice.html">Invoice</a></li>
          </ul>
        </div>
        <div class="col-xl d-flex gap-1 text-end my-auto p-0">
              <input class="form-control rounded-pill" type="search" placeholder="Search" aria-label="Search">
              <button type="button" class="btn btn-icon btn-primary rounded-circle" onclick="buttonAddNew()" data-bs-toggle="modal" data-bs-target="#modalInvoiceForm"><i class="fa-solid fa-plus"></i></button>
            </div>
    </div>
    
      <div class="row app p-0 m-0">
          <div class="col">
          <!-- Table -->
          <div class="table-responsive">
            <table class="table table-hover align-middle" id="tableInvoice">
              <thead>
                <tr>
                  <th>Invoice no</th>
                  <th>Customer</th>
                  <th>Total</th>
                  <th>Discount (%)</th>
                  <th>Net Amount</th>
                  <th>Status</th>
              </tr>
              </thead>
              <tbody id="tableInvoiceBody"></tbody>
            </table>
          </div>
          </div>
      </div>
        <!-- Modal -->
      <div class="modal fade" id="modalInvoiceForm" tabindex="-1" aria-labelledby="modalInvoiceFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
          <div class="modal-content">
        
            <div class="modal-header">
              <h6 class="modal-title" id="modalInvoiceFormLabel">Add New</h6>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        
            <div class="modal-body">
              <form id="formInvoice" class="row g-3 col-xl-12 col-lg-12 col-md-12 mx-auto" onsubmit="return false">
                <div class="col-xl-6">
                  <label class="form-label">Customer<span class="text-danger">*</span></label>
                  <div class="input-group">
                    <select id="selectCustomer" Required  class="form-select" onchange="selectDynamicElementValidator(this,'invoice','customer_id')"></select>
                    <button class="btn btn-outline-secondary" type="button"><i class="fa-solid fa-plus"></i></button>
                  </div>
                </div>

                
              <div class="col-xl-6">
                <label for="selectStatus" class="form-label">Status<span class="text-danger">*</span></label>
                <select id="selectStatus" class="form-select" Required onchange="selectDynamicElementValidator(this,'invoice','invoice_status_id')"></select>
              </div>

                
              <div class="col-xl-5">
                <label class="form-label">Product<span class="text-danger">*</span></label>
                <select id="selectItem" Required class="form-select" onchange="selectDynamicElementValidator(this,'invoiceHasProduct','product_id'); checkProductExt();"></select>
              </div>
              <div class="col-xl-2">
                <label class="form-label">Quantity<span class="text-danger">*</span></label>
                <input id="textQTY" type="text" Required  class="form-control" onkeyup="textValidator(this,'^.*$', 'invoiceHasProduct','quantity'); calculateLinePrice();">
              </div>
              <div class="col-xl-2">
                <label class="form-label">Unit Price<span class="text-danger">*</span></label>
                <input id="textUnitPrice" type="text" Required  class="form-control" onkeyup="textValidator(this,'^.*$', 'invoiceHasProduct','unitprice')">
              </div>
              <div class="col-xl-2">
                <label class="form-label">Line price<span class="text-danger">*</span></label>
                <input id="textLinePrice" type="text" Required  class="form-control" onkeyup="textValidator(this,'^.*$', 'invoiceHasProduct','lineprice')">
              </div>
              <div class="col-xl-1 gap-1 d-flex align-items-end">
                <button type="button" onclick="buttonInvoiceItemSubmit()" class="btn btn-outline-primary w-100" id="buttonItemSubmit"><i class="fa-solid fa-plus"></i></button>
                <button type="button" onclick="buttonInvoiceItemUpdate()" class="btn btn-warning w-100" id="buttonItemUpdate"><i class="fa-solid fa-check"></i></button>
              </div>
              
              <div class="col-lg-12">
                <div class="table-responsive">
                  <table class="table table-borderles table-hover align-middle" id="tableInvoiceItem">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Line Price</th>
                        <th>Modify</th>
                      </tr>
                    </thead>
                    <tbody id="tableInvoiceItemBody"></tbody>
                  </table>
                </div>
              </div>

              
                <div class="col-xl-4">
                  <label class="form-label">Total Amount<span class="text-danger">*</span></label>
                  <input id="textTotalAmount" type="text" Required  class="form-control" onkeyup="textValidator(this,'^.*$', 'invoice','total_amount')">
                </div>
                <div class="col-xl-4">
                  <label class="form-label">Discount %<span class="text-danger">*</span></label>
                  <input id="textDisountAmount" type="text" Required class="form-control" onkeyup="textValidator(this,'^.*$', 'invoice','discount_amount')">
                </div>
                <div class="col-xl-4">
                  <label class="form-label">Net Amount<span class="text-danger">*</span></label>
                  <input id="textNetAmount" type="text" Required class="form-control" onkeyup="textValidator(this,'^.*$', 'invoice','net_amount')">
                </div>

              
              </form>
            </div>
        
            <div class="modal-footer">
              <div class="col">
                <button type="button" onclick="buttonInvoiceDelete(window['editOb'], window['editRowIndex'])" class="btn btn-outline-danger" id="buttonDelete">Delete</button>
                <button type="button" onclick="refreshInvoiceForm()" class="btn btn-outline-danger" id="buttonClear">Clear</button>
              </div> 
              <div class="col text-end">
                <button type="button" onclick="buttonInvoicePrint(window['editOb'], window['editRowIndex'])" class="btn btn-tertiry" id="buttonPrint">Print</button>    
                <button type="button" onclick="buttonInvoiceUpdate()" class="btn btn-primary" id="buttonUpdate">Update</button>    
                <button type="button" onclick="buttonInvoiceSubmit()" class="btn btn-primary" id="buttonSubmit">Submit</button>  
            </div>
            </div>
        
          </div>
        </div>
        </div>
  </div>
</div>
    <div th:replace="~{common :: scripts}"></div>
    <script src="/uicontroller/invoice.js"></script>
</body>
</html>