<!DOCTYPE html>
<html lang="en">
<div th:replace="~{common :: headFragment}"></div>
<body>
  
  <!-- Cursor effect -->
  <div class="cursor"></div>

  <div class="container-fluid p-0 m-0">
      <!-- nav bar -->
      <nav class="navbar row py-0 mx-0">
          <div class="col-xl d-flex p-0 gap-1">
              <a href="/dashboard.html"><img src="/images/logo/logomark-md.svg" alt=""></a>
              <h5 class="my-auto" th:text="'Hi '+ ${loggedusername} + '👋'"></h5>
          </div>
          <div class="col-xl-6 d-flex p-0">
          <ul class="nav nav-pills justify-content-center rounded-pill p-1 mx-auto" style="width: fit-content;">
              <li class="nav-item"><a class="nav-link rounded-pill" href="/quotation.html">Quotation</a></li>
              <li class="nav-item"><a class="nav-link rounded-pill active" href="/orders.html">Order</a></li>
              <li class="nav-item"><a class="nav-link rounded-pill" href="/grn.html">GRN</a></li>
              <li class="nav-item"><a class="nav-link rounded-pill" href="/product.html">Product</a></li>
              <li class="nav-item"><a class="nav-link rounded-pill" href="/inventory.html">Inventory</a></li>
              <li class="nav-item"><a class="nav-link rounded-pill" href="/invoice.html">Invoice</a></li>
          </ul>
          </div>
          <div class="col-xl d-flex gap-1 text-end my-auto p-0">
              <input class="form-control rounded-pill" type="search" placeholder="Search" aria-label="Search">
              <button type="button" class="btn btn-icon btn-primary" onclick="buttonAddNew()" data-bs-toggle="modal" data-bs-target="#modalOrderForm"><i class="fa-solid fa-plus"></i></button>
            </div>
      </nav>
      
      <div class="row app p-0 m-0">
          <!-- Sidebbar -->
        <div class="col-1 p-0 m-0 w-auto h-100 d-flex">
          <ul class="nav nav-pills verticle_navbar my-auto list-group sidebarbody p-1" style="width: fit-content;">
               
              <li class="nav-item"><a class="nav-link btn-icon" href="/dashboard.html"><i class="fa-solid fa-house"></i></a></li>
              <li class="nav-item"><a class="nav-link btn-icon active" href="/quotation.html"><i class="fa-solid fa-store"></i></a></li>
              <li class="nav-item"><a class="nav-link btn-icon" href="/expense.html"><i class="fa-solid fa-wallet"></i></a></li>
              <li class="nav-item"><a class="nav-link btn-icon" href="/supplier.html"><i class="fa-solid fa-users"></i></a></li>
               
          </ul>
        </div>
          <div class="col">
          <!-- Table -->
          <div class="table-responsive">
            <table class="table table-hover" id="tableOrder">
              <thead>
                <tr>
                    <th>Order no</th>
                    <th>Quotation no</th>
                    <th>Required Date</th>
                    <th>Total Amount</th>
                    <th>Note</th>
                    <th>Supplier</th>
                    <th>Status</th>
                </tr>
              </thead>
              <tbody id="tableOrderBody"></tbody>
            </table>
          </div>
          </div>
      </div>
      <!-- Modal -->
    <div class="modal fade" id="modalOrderForm" tabindex="-1" aria-labelledby="modalOrderFormLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
      
          <div class="modal-header">
            <h6 class="modal-title" id="modalOrderFormLabel">Add New</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
      
          <div class="modal-body">
            <form id="formOrder" class="row g-3 col-xl-12 col-lg-12 col-md-12 mx-auto" onsubmit="return false">
              <div class="col-xl-6">
                <label class="form-label">Required Date<span class="text-danger">*</span></label>
                <input id="selectrequireddate" type="date" Required  class="form-control" onkeydown="return false" onchange="dateElemantValidator(this, 'order','required_date' )">
              </div>
              <div class="col-xl-6">
                <label class="form-label">Supplier<span class="text-danger">*</span></label>
                <select id="selectsupplier" Required class="form-select" onchange="selectDynamicElementValidator(this,'order','supplier_id')"></select>
              </div>
              <div class="col-xl-12">
                <label for="inputAddress" class="form-label">Note</label>
                <input id="textnote" type="text" class="form-control" onkeyup="textValidator(this,'^([A-Za-z0-9\\s\\,]{1,20}.?)+$','order','note')">
              </div>
              
              <div class="col-lg-12 pt-3"><strong>Product List</strong></div>

              <div class="col-xl-4">
                <label class="form-label">Name<span class="text-danger">*</span></label>
                <select id="selectItem" Required class="form-select" onchange="selectDynamicElementValidator(this,'orderHasProduct','product_id')"></select>
              </div>
              <div class="col-xl-2">
                <label class="form-label">Unit Price<span class="text-danger">*</span></label>
                <input id="textUnitPrice" type="text" Required  class="form-control" onkeyup="textValidator(this,'^.*$', 'orderHasProduct','unitprice')">
              </div>
              <div class="col-xl-2">
                <label class="form-label">Quantity<span class="text-danger">*</span></label>
                <input id="textQTY" type="number" Required  class="form-control" onkeyup="textValidator(this,'^.*$', 'orderHasProduct','quantity')">
              </div>
              <div class="col-xl-2">
                <label class="form-label">Line price<span class="text-danger">*</span></label>
                <input id="textLinePrice" type="number" Required  class="form-control" onkeyup="textValidator(this,'^.*$', 'orderHasProduct','lineprice')">
              </div>
              <div class="col-xl-2 gap-1 d-flex align-items-end">
                <button type="button" onclick="buttonOrderItemSubmit()" class="btn btn-success" id="buttonItemSubmit"><i class="fa-solid fa-plus"></i></button>
                <button type="button" onclick="buttonOrderItemUpdate()" class="btn btn-warning" id="buttonItemUpdate"><i class="fa-solid fa-check"></i></button>
              </div>
              
              <div class="col-lg-12">
                <div class="table-responsive">
                  <table class="table table-hover align-middle" id="tableOrderItem">
                    <thead>
                      <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                        <th>Line Price</th>
                        <th>Modify</th>
                      </tr>
                    </thead>
                    <tbody id="tableOrderItemBody"></tbody>
                  </table>
                </div>
              </div>
              
              <div class="col-xl-6">
                <label class="form-label">Total Amount<span class="text-danger">*</span></label>
                <input id="texttotalamount" type="text" Required  class="form-control" onkeyup="textValidator(this,'^([A-Za-z0-9\\s\\,]{1,20}.?)+$','order','total_amount')">
              </div>
              <div class="col-xl-6">
                <label for="selectorderstate" class="form-label">Status<span class="text-danger">*</span></label>
                <select id="selectorderstate" Required class="form-select" onchange="selectDynamicElementValidator(this,'order','orders_status_id')"></select>
              </div>

            </form>
          </div>
      
          <div class="modal-footer">
            <div class="col">
              <button type="button" onclick="buttonOrderDelete(window['editOb'], window['editRowIndex'])" class="btn btn-outline-danger" id="buttonDelete">Delete</button>
              <button type="button" onclick="refreshOrderForm()" class="btn btn-outline-danger" id="buttonClear">Clear</button>
            </div> 
            <div class="col text-end">
              <button type="button" onclick="buttonOrderPrint(window['editOb'], window['editRowIndex'])" class="btn btn-tertiry" id="buttonPrint">Print</button>    
              <button type="button" onclick="buttonOrderUpdate()" class="btn btn-primary" id="buttonUpdate">Update</button>    
              <button type="button" onclick="buttonOrderSubmit()" class="btn btn-primary" id="buttonSubmit">Submit</button>  
          </div>
          </div>
      
        </div>
      </div>
      </div>

      <!-- Bottombar -->
      <ul class="list-group nav nav-pills list-group-horizontal justify-content-center sidebarbody p-1 mx-auto horizontal_navbar" style="width: fit-content;">
         
        <li class="nav-item"><a class="nav-link btn-icon" href="/dashboard.html"><i class="fa-solid fa-house"></i></a></li>
        <li class="nav-item"><a class="nav-link btn-icon active" href="/quotation.html"><i class="fa-solid fa-store"></i></a></li>
        <li class="nav-item"><a class="nav-link btn-icon" href="/expense.html"><i class="fa-solid fa-wallet"></i></a></li>
        <li class="nav-item"><a class="nav-link btn-icon" href="/supplier.html"><i class="fa-solid fa-users"></i></a></li>
         
      </ul>
  </div>
</div>
      <div th:replace="~{common :: scripts}"></div>
      <script src="/uicontroller/orders.js"></script>
</body>
</html>