<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ereamart</title>
    
    <!-- Favicon -->
    <link rel="icon" href="/images/favicon/favicon.svg">
    
    <!--  css -->
    <link href="/bootstrap-5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link href="/datatables/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/fontawesome-free-6.6.0/css/all.min.css">

    <!--  js -->
    <script src="/bootstrap-5.2.3/js/bootstrap.bundle.min.js"></script>
    <script src="/jquery/jQuery-3.7.1.min.js"></script>
    <script src="/datatables/datatables.js"></script>
</head>
<body>
    <!-- Cursor effect -->
    <div class="cursor"></div>

    <div class="container-fluid p-0 m-0">
        <!-- nav bar -->
        <nav class="navbar row py-0 mx-0">
            <div class="col-xl d-flex p-0 gap-1">
                <a href="/dashboard.html"><img src="/images//logo/logomark-md.svg" alt=""></a>
                <h5 class="my-auto">Administration</h5>
            </div>
            <div class="col-xl-6 d-flex p-0">
            <ul class="nav nav-pills justify-content-center rounded-pill p-1 mx-auto" style="width: fit-content;">
                <li class="nav-item"><a class="nav-link rounded-pill" aria-current="page" href="/dashboard.html">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link rounded-pill active" href="/privilege.html">Privilege</a></li>
                <li class="nav-item"><a class="nav-link rounded-pill" href="/employee.html">Employee</a></li>
                <li class="nav-item"><a class="nav-link rounded-pill" href="/user.html">User</a></li>
            </ul>
            </div>
            <div class="col-xl d-flex gap-1 text-end my-auto p-0">
                <input class="form-control rounded-pill" type="search" placeholder="Search" aria-label="Search">
                <button type="button" class="btn btn-icon btn-primary" onclick="buttonAddNew()" data-bs-toggle="modal"data-bs-target="#modalPrivilegeForm"><i class="fa-solid fa-plus"></i></button>
            </div>
        </nav>
        
        <div class="row app p-0 m-0">
            <!-- Sidebbar -->
        <div class="col-1 p-0 m-0 w-auto h-100 d-flex">
            <ul class="nav nav-pills verticle_navbar my-auto list-group sidebarbody p-1" style="width: fit-content;">
                 
                <li class="nav-item"><a class="nav-link btn-icon active" href="/dashboard.html"><i class="fa-solid fa-house"></i></a></li>
                <li class="nav-item"><a class="nav-link btn-icon" href="/quotation.html"><i class="fa-solid fa-store"></i></a></li>
                <li class="nav-item"><a class="nav-link btn-icon" href="/expense.html"><i class="fa-solid fa-wallet"></i></a></li>
                <li class="nav-item"><a class="nav-link btn-icon" href="/supplier.html"><i class="fa-solid fa-users"></i></a></li>
                 
            </ul>
          </div>
            <div class="col">
            <!-- Table -->
            <div class="table-responsive">
                <table class="table table-hover align-middle" id="tablePrivilege">
                <thead>
                    <tr>
                    <th>Designation</th>
                    <th>Module</th>
                    <th>Select</th>
                    <th>Insert</th>
                    <th>Update</th>
                    <th>Delete</th>
                    </tr>
                </thead>
                <tbody id="tablePrivilegeBody"></tbody>
                </table>
            </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modalPrivilegeForm" tabindex="-1" aria-labelledby="modalPrivilegeFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">

            <div class="modal-header">
            <h6 class="modal-title" id="modalPrivilegeFormLabel">Add New</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form id="formPrivilege" class="row g-3 col-lg-12 col-md-12 mx-auto">
                    <div class="col-xl-12" id="selectDesignationDiv">
                        <label for="selectDesignation" class="form-label">Designation<span class="text-danger">*</span></label>
                        <select id="selectDesignation" Required class="form-select" onchange="selectDynamicElementValidator(this,'privilege','designation_id')"></select>
                    </div>
                    <div class="col-xl-12">
                        <label for="selectModule" class="form-label">Module<span class="text-danger">*</span></label>
                        <select id="selectModule" Required class="form-select" onchange="selectDynamicElementValidator(this,'privilege','module_id')"></select>
                    </div>
                    <div class="col-lg-3">
                        <input class="form-check-input" type="checkbox" id="chkBoxSelect" onchange="if (this.checked){privilege.privi_select = true;} else { privilege.privi_select = false;}">
                        <label for="inputState" class="form-label">Select</label>
                    </div>
                    <div class="col-lg-3">
                        <input class="form-check-input" type="checkbox" id="chkBoxInsert" onchange="if (this.checked){privilege.privi_insert = true;} else { privilege.privi_insert = false;}">
                        <label for="inputState" class="form-label" >Insert</label>
                    </div>
                    <div class="col-lg-3">
                        <input class="form-check-input" type="checkbox" id="chkBoxUpdate" onchange="if (this.checked){privilege.privi_update = true;} else { privilege.privi_update = false;}">
                        <label for="inputState" class="form-label">Update</label>
                    </div>
                    <div class="col-lg-3">
                        <input class="form-check-input" type="checkbox" id="chkBoxDelete" onchange="if (this.checked){privilege.privi_delete = true;} else { privilege.privi_delete = false;}">
                        <label for="inputState" class="form-label">Delete</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col">
                    <button type="button" onclick="buttonPrivilegeDelete(window['editOb'], window['editRowIndex'])" class="btn btn-outline-danger" id="buttonDelete">Delete</button>
                    <button type="button" onclick="refreshPrivilegeForm()" class="btn btn-outline-danger" id="buttonClear">Clear</button>
                </div> 
                <div class="col text-end">
                    <button type="button" onclick="buttonPrivilegePrint(window['editOb'], window['editRowIndex'])" class="btn btn-tertiry" id="buttonPrint">Print</button>    
                    <button type="button" onclick="buttonPrivilegeUpdate()" class="btn btn-primary" id="buttonUpdate">Update</button>    
                    <button type="button" onclick="buttonPrivilegeSubmit()" class="btn btn-primary" id="buttonSubmit">Submit</button>  
            </div>
            </div>
        </div>
        </div>
        </div>
        <!-- Bottombar -->
        <ul class="list-group nav nav-pills list-group-horizontal justify-content-center sidebarbody p-1 mx-auto horizontal_navbar" style="width: fit-content;">
             
            <li class="nav-item"><a class="nav-link btn-icon active" href="/dashboard.html"><img  src="/icons/administration.svg" alt=""></a></li>
            <li class="nav-item"><a class="nav-link btn-icon" href="/quotation.html"><img  src="/icons/operations.svg" alt=""></a></li>
            <li class="nav-item"><a class="nav-link btn-icon" href="/expense.html"><img  src="/icons/transection.svg" alt=""></a></li>
            <li class="nav-item"><a class="nav-link btn-icon" href="/supplier.html"><img  src="/icons/resources.svg" alt=""></a></li>
             
        </ul>
    </div>
    <script src="/script/common.js"></script>
    <script src="/script/tablefunction.js"></script>
    <script src="/script/validationFunctions.js"></script>
    <script src="/uicontroller/privilege.js"></script>
</body>
</html>