<!DOCTYPE html>
<html lang="en">

<div th:replace="~{common :: headFragment}"></div>

<body>
  <!-- Cursor effect -->
  <div class="cursor"></div>

  <div class="container-fluid p-0 m-0">
      <!-- nav bar -->
      <nav class="navbar row py-0 mx-0">
          <div class="col-xl d-flex p-0 gap-1">
              <a href="/dashboard.html"><img src="/images/logo/logomark-md.svg" alt=""></a>
              <h4 class="my-auto" id="wordmark"><span style=" color: #059025;">Erea</span><Span style=" color: #97CC16;">Mart</Span></h4>
          </div>
          <div class="col-xl-6 d-flex p-0">
            <ul class="list-group nav nav-pills list-group-horizontal justify-content-center sidebarbody p-1 mx-auto horizontal_navbar" style="width: fit-content;">
                    <li class="nav-item"><a class="nav-link" href="/dashboard.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/product.html">Store</a></li>
                    <li class="nav-item"><a class="nav-link" href="/expense.html">Wallet</i></a></li>
                </ul>
            
          </div>
            <div class="col-xl d-flex gap-1 justify-content-end my-auto p-0">
                <button type="button" class="btn btn-icon rounded-pill bg-light" data-bs-toggle="dropdown" -expanded="false">  <img id="imgLogUserPhoto" src="/images/default.png" alt="" class="rounded-pill" width="38px "></button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="/home.html">Buyer mode</a></li>
                    <li><a class="dropdown-item" href="/profile.html">My Profile</a></li>
                    <li><a class="dropdown-item" href="/logout">Log out</a></li>
                </ul>
            </div>
          
      </nav>

      <div class=" container-fluid row p-0 m-0">
        <div class="col"></div>
        <div class="col-xl-6 mt-1 p-0">
          <ul class="nav nav-pills bg-transparent justify-content-center p-1 mx-auto" style="width: fit-content;">
              <li class="nav-item"><a class="nav-link active" href="/product.html">Product</a></li>
              <li class="nav-item"><a class="nav-link" href="/supplier.html">Supplier</a></li>
              <li class="nav-item"><a class="nav-link" href="/quotation.html">Quotation</a></li>
              <li class="nav-item"><a class="nav-link" href="/quotation.html">Respond</a></li>
              <li class="nav-item"><a class="nav-link" href="/orders.html">Order</a></li>
              <li class="nav-item"><a class="nav-link" href="/grn.html">GRN</a></li>
              <li class="nav-item"><a class="nav-link" href="/inventory.html">Inventory</a></li>
              <li class="nav-item"><a class="nav-link" href="/customer.html">Customer</a></li>
              <li class="nav-item"><a class="nav-link " href="/invoice.html">Invoice</a></li>
          </ul>
        </div>
        <div class="col-xl d-flex gap-1 text-end my-auto p-0">
              <input class="form-control rounded-pill" type="search" placeholder="Search" aria-label="Search">
              <button type="button" class="btn btn-icon btn-primary rounded-circle" onclick="buttonAddNew()" data-bs-toggle="modal" data-bs-target="#modalProductForm"><i class="fa-solid fa-plus"></i></button>
            </div>
    </div>

      <div class="row app p-0 m-0">
        <!-- Table -->
          <div class="col">
          <div class="table-responsive">
            <table class="table  table-hover align-middle" id="tableProduct">
              <thead>
                <tr>
                  <th>Code</th>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Brand</th>
                  <th>Weight</th>
                  <th>Size</th>
                  <th>Discount</th>
                  <th>Profit</th>
                  <th>Manufacture</th>
                  <th>Category</th>
                  <th>Department</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody id="tableProductBody"></tbody>
            </table>
          </div>
          </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="modalProductForm" tabindex="-1" aria-labelledby="modalProductFormLabel" aria-hidden="true" data-bs-backdrop="static">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">

          <div class="modal-header">
            <h6 class="modal-title" id="modalProductFormLabel">Add New</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <form id="formProduct" class="row g-3 col-xl-12 col-lg-12 col-md-12 mx-auto" onsubmit="return false">

              <div class="col-xl-12">
                <label class="form-label">Product photo<span class="text-danger">*</span></label>
                <div class="input-group d-flex align-items-center gap-4">
                  <div>
                    <img id="imgproductPhotoPreview" src="/images/default.png" alt="" class="rounded" width="90px" height="90px">
                  </div>
                  <div>
                    <button onclick="fileProductPhoto.click()" type="button" class="btn btn-outline-primary">select photo</button>
                    <button type="button" class="btn btn-outline-secondary">clear</button>
                    <input onchange="fileValidator(this, 'product', 'productimage', imgEmpPhotoPreview)" type="file" class="d-none" id="fileProductPhoto">
                  </div>
                </div>
              </div>

              <div class="col-xl-6 col-lg-6">
                <label class="form-label">Department<span class="text-danger">*</span></label>
                <select id="selectDepartment" class="form-select" onchange="selectDynamicElementValidator(this,'product','department_id')"></select>
              </div>
              <div class="col-xl-6 col-lg-6">
                <label class="form-label">Category<span class="text-danger">*</span></label>
                <div class="input-group">
                  <select id="selectCategory" Required class="form-select"onchange="selectDynamicElementValidator(this,'product','productcategory_id')"></select>
                  <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#modalAddCategoryForm"><i class="fa-solid fa-plus"></i></button>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6">
                <label class="form-label">Manufacture<span class="text-danger">*</span></label>
                <div class="input-group">
                  <select id="textManufacture" Required class="form-select" onchange="selectDynamicElementValidator(this,'product','productmanufacture_id')"></select>
                  <button class="btn btn-outline-secondary" type="button"><i class="fa-solid fa-plus"></i></button>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6">
                <label class="form-label">Brand<span class="text-danger">*</span></label>
                <div class="input-group">
                  <select id="textBrand" Required class="form-select" onchange="selectDynamicElementValidator(this,'product','productbrand_id')"></select>
                  <button class="btn btn-outline-secondary" type="button"><i class="fa-solid fa-plus"></i></button>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6">
                <label class="form-label">Weight<span class="text-danger">*</span></label>
                <input id="textWeight" type="text" Required class="form-control" onkeyup="textValidator(this,'^.*$', 'product','weight')">
              </div>
              <div class="col-xl-4 col-lg-6">
                <label class="form-label">Size<span class="text-danger">*</span></label>
                <input id="textSize" type="text" Required class="form-control" onkeyup="textValidator(this,'^.*$', 'product','size')">
              </div>
              <div class="col-xl-4 col-lg-6">
                <label class="form-label">Price<span class="text-danger">*</span></label>
                <input id="textPrice" type="text" Required class="form-control" onkeyup="textValidator(this,'^.*$', 'product','price')">
              </div>
              <div class="col-lg-3">
                <label class="form-label">Discount rate<span class="text-danger">*</span></label>
                <input id="textDiscountRate" type="text" Required class="form-control" onkeyup="textValidator(this,'^.*$', 'product','discount_rate')">
              </div>
              <div class="col-lg-3">
                <label class="form-label">Profit rate<span class="text-danger">*</span></label>
                <input id="textProfitRate" type="text" Required class="form-control" onkeyup="textValidator(this,'^.*$', 'product','profit_rate')">
              </div>
              <div class="col-lg-3">
                <label class="form-label">Code<span class="text-danger">*</span></label>
                <input id="textBarcode" type="text" Required class="form-control" onkeyup="textValidator(this,'^.*$', 'product','barcode')">
              </div>
              <div class="col-lg-3">
                <label class="form-label">Status<span class="text-danger">*</span></label>
                <select id="selectStatus" Required class="form-select"onchange="selectDynamicElementValidator(this,'product','productstatus_id')"></select>
              </div>
              <div class="col-lg-12">
                <label class="form-label">Product name<span class="text-danger">*</span></label>
                <input id="textProductName" type="text" Required  class="form-control" onkeyup="textValidator(this,'^.*$', 'product','name')">
              </div>
              <div class="col-lg-12">
                <label for="inputdescription" class="form-label">Description</label>
                <textarea id="textDescription"  class="form-control" onkeyup="textValidator(this,'^.*$', 'product','description')"></textarea>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <div class="col">
              <button type="button" onclick="buttonProductDelete(window['editOb'], window['editRowIndex'])"class="btn btn-outline-danger" id="buttonDelete">Delete</button>
              <button type="button" onclick="refreshProductForm()" class="btn btn-outline-danger"id="buttonClear">Clear</button>
            </div>
            <div class="col text-end">
              <button type="button" onclick="buttonProductPrint(window['editOb'], window['editRowIndex'])"class="btn btn-tertiry" id="buttonPrint">Print</button>
              <button type="button" onclick="buttonProductUpdate()" class="btn btn-primary"id="buttonUpdate">Update</button>
              <button type="button" onclick="buttonProductSubmit()" class="btn btn-primary"id="buttonSubmit">Submit</button>
            </div>
          </div>

        </div>
      </div>
      </div>

      <!-- Modal  add category-->
      <div class="modal fade" id="modalAddCategoryForm" tabindex="-1" aria-labelledby="modalAddCategoryFormLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
        <div class="modal-content">

          <div class="modal-header">
            <h6 class="modal-title" id="modalAddCategoryFormLabel">Add New Category</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal" data-bs-target="#modalProductForm"></button>
          </div>

          <div class="modal-body">
            <form id="formAddCategory" class="row g-3 col-xl-12 col-lg-12 col-md-12 mx-auto" onsubmit="return false">
                <div class="col-xl-12 col-lg-12">
                  <label class="form-label">Department<span class="text-danger">*</span></label>
                  <select class="form-select" onchange="selectDynamicElementValidator(this,'aproduct','adepartment_id')"></select>
              </div>
                <div class="col-xl-12 col-lg-12">
                  <label class="form-label">Category<span class="text-danger">*</span></label>
                  <input type="text" Required  class="form-control" onkeyup="textValidator(this,'^.*$', 'aproduct','aproductname')">
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <div class="col">
              <button type="button" onclick="refreshaProductForm()" class="btn btn-outline-danger">Clear</button>
            </div>
            <div class="col text-end">
              <button type="button" onclick="buttonaProductSubmit()" class="btn btn-primary">Submit</button>
            </div>
          </div>

        </div>
      </div>
      </div>
  </div>

<div th:replace="~{common :: scripts}"></div>
<script src="/uicontroller/product.js"></script>
</body>

</html>