<!DOCTYPE html>
<html lang="en">
<div th:replace="~{common :: loginheadFragment}"></div>

<body>


   <!-- Cursor effect -->
   <div class="cursor"></div>

   <div class="container-fluid p-0 m-0">
       <!-- nav bar -->
       <nav class="navbar row py-0 mx-0" >
           <div class="col-xl d-flex p-0 gap-1">
               <a href="/index"><img src="/images/logo/logomark-md.svg" alt=""></a>
               <h4 class="my-auto" ><span style=" color: #059025;">Erea</span><Span style=" color: #97CC16;">Mart</Span></h4>
           </div>
       </nav>
       <div class="row app p-0 m-0">

           <div class="col col-lg-3 col-md-12 mx-auto mt-5">
            <div class="row mb-3">
              <div class="col align-midlle text-center">
                <h4 class="modal-title text-center mt-2" id="staticBackdropLabel">Welcome 🙏</h4>
                <p class="mt-2">Have an account <a href="/login">Log in</a></p>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col">
                <form onsubmit=" return false">
                  <div class="form-floating ">
                    <input id="textName" type="text" class="form-control rounded-0 rounded-top" placeholder="name@example.com">
                    <label for="textName">Name</label>
                  </div>
                  <div class="form-floating ">
                    <input id="textEmail" type="email" class="form-control rounded-0" placeholder="name@example.com">
                    <label for="textEmail">Email address</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input id="textPassword" type="password" class="form-control rounded-0 rounded-bottom" placeholder="Password">
                    <label for="textPassword">Password</label>
                  </div>

                  <div class="row mb-3">
                    <div class="col">
                      <button type="submit" class="btn btn-lg btn-primary rounded-pill w-100 ">Sign up</button>
                    </div>
                  </div>

                </form>
              </div>
            </div>
           </div>

       </div>
   </div>



  <script src="/script/common.js"></script>
  <script src="/script/seller.js"></script>
</body>

</html>