<!DOCTYPE html>
<html lang="en">
<div th:replace="~{common :: headFragment}"></div>
<body>

  <!-- Cursor effect -->
  <div class="cursor"></div>

  <div class="container-fluid p-0 m-0">
      <!-- nav bar -->
      <nav class="navbar row py-0 mx-0">
          <div class="col-xl d-flex p-0 gap-1">
              <a href="/dashboard"><img src="/images/logo/logomark-md.svg" alt=""></a>
              <h4 class="my-auto" id="wordmark"><span style=" color: #059025;">Erea</span><Span style=" color: #97CC16;">Mart</Span></h4>
          </div>
          <div class="col-xl-6  d-flex p-0">
                <ul class="list-group nav nav-pills list-group-horizontal rounded-pill justify-content-center sidebarbody p-1 mx-auto horizontal_navbar" style="width: fit-content;">
                    <li class="nav-item"><a class="nav-link rounded-pill active" href="/dashboard">Home</a></li>
                    <li class="nav-item"><a class="nav-link rounded-pill" href="/product">Store</a></li>
                    <li class="nav-item"><a class="nav-link rounded-pill" href="/expense">Wallet</i></a></li>
                </ul>
            </div>
            <div th:replace="~{common :: sellerprofiledropdown}"></div>
      </nav>

      <div class=" container-fluid row p-0 m-0">
        <div class="col"></div>
        <div class="col-xl-6 mt-1">
                <ul class="nav nav-pills rounded-pill justify-content-center p-1 mx-auto" style="width: fit-content;">
                    <li class="nav-item"><a class="nav-link rounded-pill" aria-current="page" href="/dashboard">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link rounded-pill" href="/report">Reports</a></li>
                    <li class="nav-item"><a class="nav-link rounded-pill" href="/privilege">Privilege</a></li>
                    <li class="nav-item"><a class="nav-link rounded-pill" href="/employee">Employee</a></li>
                    <li class="nav-item"><a class="nav-link rounded-pill active" href="/user">User</a></li>
                </ul>
        </div>
        <div class="col-xl d-flex gap-1 text-end my-auto p-0">
              <input class="form-control rounded-pill" type="search" placeholder="Search" aria-label="Search">
              <button type="button" class="btn btn-icon btn-primary rounded-circle" onclick="buttonAddNew()" data-bs-toggle="modal" data-bs-target="#modalUserForm"><i class="fa-solid fa-plus"></i></button>
            </div>
    </div>
      
      <div class="row app p-0 m-0">
          <div class="col">
          <!-- Table -->
          <div class="table-responsive">
            <table class="table table-hover align-middle" id="tableUser">
              <thead>
                <tr>
                    <th>Emp No</th>
                    <th>Photo</th>
                    <th>Employee</th>
                    <th>Email</th>
                    <th>Designation</th>
                    <th>Role</th>
                    <th>User name</th>
                    <th>Status</th>
                  </tr>
              </thead>
              <tbody id="tableUserBody"></tbody>
            </table>
          </div>
          </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="modalUserForm" tabindex="-1" aria-labelledby="modalUserFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="modal-title" id="modalUserFormLabel">Add New</h6>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="formUser" class="row g-3 col-lg-12 col-md-12 mx-auto">
                <div class="col-xl-6">
                  <label for="selectEmployee" class="form-label">Employee<span class="text-danger">*</span></label>
                  <select id="selectEmployee" Required class="form-select" onchange="selectDynamicElementValidator(this,'user','employee_id')"></select>
                </div>
                <div class="col-xl-6">
                  <label class="form-label">User name<span class="text-danger">*</span></label>
                  <input id="textUsername" type="text" Required  class="form-control" onkeyup="textValidator(this,'^([A-Za-z0-9\\s\\,]{1,20}.?)+$','user','username')">
                </div>
                
                 
                <div class="col-xl-6">
                  <label class="form-label">Password<span class="text-danger">*</span></label>
                  <input id="textPassword" type="password" Required class="form-control" onkeyup="textValidator(this,'^([A-Za-z0-9\\s\\,]{1,20}.?)+$','user','password')">
                </div>
                <div class="col-xl-6">
                  <label class="form-label">Retype Password<span class="text-danger">*</span></label>
                  <input id="textRetypePassword" type="password" class="form-control">
                </div>
                  <div class="col-xl-6">
                    <label class="form-label">Role<span class="text-danger">*</span></label>
                    <div id="divRoles" ></div>
                  </div>
                <div class="col-xl-6">
                  <label for="selectStatus" class="form-label">Account status<span class="text-danger">*</span></label>
                  <div class="form-check py-1">
                    <input id="selectStatus" class="form-check-input form-check-inline" type="checkbox" checked="checked" onchange="if (this.checked) {user.status = true} else {user.status = false}">
                    <label class="form-check-label" for="flexCheckDefault"> Active </label>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <div class="col">
                <button type="button" onclick="buttonUserDelete(window['editOb'], window['editRowIndex'])" class="btn btn-outline-danger" id="buttonDelete">Delete</button>
                <button type="button" onclick="refreshUserForm()" class="btn btn-outline-danger" id="buttonClear">Clear</button>
              </div> 
              <div class="col text-end">
                <button type="button" onclick="buttonUserPrint(window['editOb'], window['editRowIndex'])" class="btn btn-tertiry" id="buttonPrint">Print</button>    
                <button type="button" onclick="buttonUserUpdate()" class="btn btn-primary" id="buttonUpdate">Update</button>    
                <button type="button" onclick="buttonUserSubmit()" class="btn btn-primary" id="buttonSubmit">Submit</button>  
            </div>
            </div>
        
          </div>
        </div>
        </div>
  </div>



      


    <div th:replace="~{common :: scripts}"></div>
    <script src="/uicontroller/user.js"></script>
</body>
</html>