<!DOCTYPE html>
<html lang="en">
<div th:replace="~{common :: headFragment}"></div>
<body>

  <!-- Cursor effect -->
  <div class="cursor"></div>

  <div class="container-fluid p-0 m-0">
      <!-- nav bar -->
      <nav class="navbar row py-0 mx-0">
          <div class="col-xl d-flex p-0 gap-1">
              <a href="/dashboard.html"><img src="/images/logo/logomark-md.svg" alt=""></a>
              <h5 class="my-auto" th:text="'Hi '+ ${loggedusername} + '👋'"></h5>
          </div>
          <div class="col-xl-6 d-flex p-0">
          <ul class="nav nav-pills justify-content-center rounded-pill p-1 mx-auto" style="width: fit-content;">
                    <li class="nav-item"><a class="nav-link rounded-pill" aria-current="page" href="/dashboard.html">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link rounded-pill" href="/report.html">Reports</a></li>
                    <li class="nav-item"><a class="nav-link rounded-pill" href="/privilege.html">Privilege</a></li>
                    <li class="nav-item"><a class="nav-link rounded-pill" href="/employee.html">Employee</a></li>
                    <li class="nav-item"><a class="nav-link rounded-pill active" href="/user.html">User</a></li>
          </ul>
          </div>
          <div class="col-xl d-flex gap-1 text-end my-auto p-0">
              <input class="form-control rounded-pill" type="search" placeholder="Search" aria-label="Search">
              <button type="button" class="btn btn-icon btn-primary rounded-circle" onclick="buttonAddNew()" data-bs-toggle="modal" data-bs-target="#modalUserForm"><i class="fa-solid fa-plus"></i></button>
            </div>
      </nav>
      
      <div class="row app p-0 m-0">
          <!-- Sidebbar -->
        <div class="col-1 p-0 m-0 w-auto h-100 d-flex">
          <ul class="nav nav-pills verticle_navbar my-auto list-group sidebarbody p-1" style="width: fit-content;">
               
              <li class="nav-item"><a class="nav-link btn-icon active" href="/dashboard.html"><i class="fa-solid fa-house"></i></a></li>
              <li class="nav-item"><a class="nav-link btn-icon" href="/product.html"><i class="fa-solid fa-store"></i></a></li>
              <li class="nav-item"><a class="nav-link btn-icon" href="/expense.html"><i class="fa-solid fa-wallet"></i></a></li>
              <li class="nav-item"><a class="nav-link btn-icon" href="/supplier.html"><i class="fa-solid fa-users"></i></a></li>
               
          </ul>
        </div>
          <div class="col">
          <!-- Table -->
          <div class="table-responsive">
            <table class="table   table-hover align-middle" id="tableUser">
              <thead>
                <tr>
                    <th>Emp No</th>
                    <th>Photo</th>
                    <th>Employee</th>
                    <th>Designation</th>
                    <th>Email</th>
                    <th>User name</th>
                    <th>Note</th>
                    <th>Status</th>
                  </tr>
              </thead>
              <tbody id="tableUserBody"></tbody>
            </table>
          </div>
          </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="modalUserForm" tabindex="-1" aria-labelledby="modalUserFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="modal-title" id="modalUserFormLabel">Add New</h6>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="formUser" class="row g-3 col-lg-12 col-md-12 mx-auto">
                <div class="col-xl-6">
                  <label for="selectEmployee" class="form-label">Employee<span class="text-danger">*</span></label>
                  <select id="selectEmployee" Required class="form-select" onchange="selectDynamicElementValidator(this,'user','employee_id')"></select>
                </div>
                <div class="col-xl-6">
                        <label for="selectRole" class="form-label">Role<span class="text-danger">*</span></label>
                        <select id="selectRole" Required class="form-select" onchange="selectDynamicElementValidator(this,'user','role_id')"></select>
                    </div>
                <div class="col-xl-6">
                  <label class="form-label">User name<span class="text-danger">*</span></label>
                  <input id="textUsername" type="text" Required  class="form-control" onkeyup="textValidator(this,'^([A-Za-z0-9\\s\\,]{1,20}.?)+$','user','username')">
                </div>
                <div class="col-xl-6">
                  <label for="selectAccountStatus" class="form-label">Account status<span class="text-danger">*</span></label>
                  <select id="selectAccountStatus" Required class="form-select" onchange="selectDynamicElementValidator(this,'user','accountstatus_id')"></select>
                </div>
                <div class="col-xl-6">
                  <label class="form-label">Password<span class="text-danger">*</span></label>
                  <input id="textPassword" type="password" Required class="form-control" onkeyup="textValidator(this,'^([A-Za-z0-9\\s\\,]{1,20}.?)+$','user','password')">
                </div>
                <div class="col-xl-6">
                  <label class="form-label">Retype Password<span class="text-danger">*</span></label>
                  <input id="textRetypePassword" type="password" class="form-control">
                </div>
                <div class="col-lg-12">
                  <label for="textNote" class="form-label">Note</label>
                  <input id="textNote" type="text" class="form-control" onkeyup="textValidator(this,'^([A-Za-z0-9\\s\\,]{1,20}.?)+$','user','note')">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <div class="col">
                <button type="button" onclick="buttonUserDelete(window['editOb'], window['editRowIndex'])" class="btn btn-outline-danger" id="buttonDelete">Delete</button>
                <button type="button" onclick="refreshUserForm()" class="btn btn-outline-danger" id="buttonClear">Clear</button>
              </div> 
              <div class="col text-end">
                <button type="button" onclick="buttonUserPrint(window['editOb'], window['editRowIndex'])" class="btn btn-tertiry" id="buttonPrint">Print</button>    
                <button type="button" onclick="buttonUserUpdate()" class="btn btn-primary" id="buttonUpdate">Update</button>    
                <button type="button" onclick="buttonUserSubmit()" class="btn btn-primary" id="buttonSubmit">Submit</button>  
            </div>
            </div>
        
          </div>
        </div>
        </div>
      <!-- Bottombar -->
      <ul class="list-group nav nav-pills list-group-horizontal justify-content-center sidebarbody p-1 mx-auto horizontal_navbar" style="width: fit-content;">
         
        <li class="nav-item"><a class="nav-link btn-icon active" href="/dashboard.html"><i class="fa-solid fa-house"></i></a></li>
        <li class="nav-item"><a class="nav-link btn-icon" href="/product.html"><i class="fa-solid fa-store"></i></a></li>
        <li class="nav-item"><a class="nav-link btn-icon" href="/expense.html"><i class="fa-solid fa-wallet"></i></a></li>
        <li class="nav-item"><a class="nav-link btn-icon" href="/supplier.html"><i class="fa-solid fa-users"></i></a></li>
         
      </ul>
  </div>



      


    <div th:replace="~{common :: scripts}"></div>
    <script src="/uicontroller/user.js"></script>
</body>
</html>